<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kinva.mapper.UserMapper">


  <insert id="save"  parameterType="User">

  insert into user(id,name,bir) values(#{id},#{name}) ;
    
  </insert>

<!--记住这个返回值类型-->
  <select id="getAllInfo" resultType="cn.kinva.pojo.User">

    select  * from  user ;
  </select>


</mapper>